%h2 Expected Purchases
%section#expected_purchases
  %p.subtitle Loading expected transactions

%h2 Virtual Accounts
%section#virtual_accounts
  %p.subtitle Loading virtual accounts
  
:css  
  h2 {
    font-size: 1.1em;
    padding: 1px 5px;
    margin: 0;
    background-color: #6677cc;
    color: white;
  }
  a.icon { 
    display: block;
    width: 100%;
    height: 44px;
    margin: 0;
    border-bottom: 1px solid gray;
    text-align: left;
    background: url(/images/disclosure.png) center right no-repeat;
  }
  p {
    margin: 0.5em 0;
  }
  a.icon p {
    margin: 0;
    padding-top: 1px;
    padding-bottom: 1px;
  }
  p.label {
    font-weight: bold;
    padding-left: 5px;
  }
  p.label span {
    padding-left: .2em;
    font-size: .8em;
  }
  .danger {
    color: red;
  }
  p.subtitle {
    font-weight: normal;
    font-size: 0.9em;
    color: gray;
    padding-left: 5px;
  }
  a { text-decoration: none; color: black; cursor: pointer; }
  a:hover { background-color: #cccccc; }
  a button { height: 70%; margin-top: .7em; float: left; font-weight: bold; color: red; }


:javascript
  $(function () {
    $.get('#{expected_purchases_path}.json', function(json) {
      if(json.length) $('#expected_purchases').html('');
      else $('#expected_purchases p.subtitle').html('There are no expected transactions.');
      var link, name, subtitle, vendor, amount, due_in, delete_button;
      $.each(json, function(i, pur) { 
        link = $('<a>').addClass('icon').attr('href', pur['new_purchase_url']);
        name = $('<p>').addClass('label').html(pur['name']);
        if(pur['is_promised']) name.addClass('danger');
        delete_button = $('<button>').attr('id', 'expected_purchase_dismiss_' + pur['id']).html('Dismiss');
        if(pur['is_promised']) {
          due_in = $('<span>').html('(Due ' + pur['due_in'] + ')');
        } else {
          due_in = $('<span>').html('(' + pur['weekday'] + ')')
        }
        vendor = pur['vendor_name'];
        if(vendor.length) vendor = ' to ' + vendor;
        amount = pur['amount']['currency']['symbol'] + pur['amount']['cents'].toString().replace(/([\d]{2})$/, '.$1')
        if(amount.length > 6) amount = amount.replace(/\.\d*$/, '');
        subtitle = $('<p>').addClass('subtitle').html(amount + vendor);
        link.appendTo('#expected_purchases');
        delete_button.appendTo(link);
        delete_button.click(function(e) {
          e.stopPropagation();
          e.preventDefault();
          if(pur['is_promised'] && !confirm('Are you sure?')) return;
          var form = $('<form>').attr('action', pur['dismiss_url']).attr('method', 'post');
          $('<input>').attr('name', '_method').val('delete').appendTo(form);
          $('<input>').attr('name', 'authenticity_token').val('#{form_authenticity_token}').appendTo(form);
          form.submit();
        })
        name.appendTo(link);
        due_in.appendTo(name);
        subtitle.appendTo(link);
      });
    });

    $.get('#{virtual_accounts_path}.json', function(json) {
      if(json.length) $('#virtual_accounts').html('');
      else $('#virtual_accounts p.subtitle').html('There are no accounts to show.');
      var link, name, subtitle;
      $.each(json, function(i, acct) { 
        link = $('<a>').addClass('icon').attr('href', acct['new_purchase_href']);
        name = $('<p>').addClass('label').html(acct['name']);
        subtitle = $('<p>').addClass('subtitle').html('$' + acct['balance']);
        link.appendTo('#virtual_accounts');
        name.appendTo(link);
        subtitle.appendTo(link);
      });
    });
  });