%h1== #{@outside_entities.first.class.to_s.pluralize}

%ul.outside_entities
- @outside_entities.each do |ent|
  %li.outside_entity
    = link_to ent.name, send("#{ent.class.to_s.underscore}_path", ent)
  