/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
  body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
  }
  div.erase_all { position: relative; }
  div.erase_all span.erase_all { display: none; }
  div.erase_all:hover span.erase_all { display: block; }
  span.erase_all {
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
    width: 20px;
    height: 100%;
  }
  h1 {
    margin: 0;
    font-size: 1.3em;
  }
  h1 a { font-size: .7em; color: blue; }
  h2 {
    font-size: 1.1em;
    padding: 1px 5px;
    margin: 0;
    background-color: #6677cc;
    color: white;
  }
  
  p {
    margin: 0 0 1em 0;
  }
  label {
    font-weight: bold;
  }
  input, select {
    width: 90%;
    height: 1.4em;
    font-size: 1.4em;
    -webkit-appearance: none;
    -webkit-box-shadow: 1px 1px 1px #fff;
    -webkit-border-radius: 0.2em;
  }
  select {
    width: 97%;
    height: 1.8em;
    -webkit-appearance: none;
    -webkit-box-shadow: 1px 1px 1px #fff;
    -webkit-border-radius: 0.2em;
  }
  .clear { clear: both; }
